<%- include('partial/header') %>
      <div class="container-fluid">
        <div class="row">
      <%- include('partial/sidebar') %>
        <div class="col-lg-9">
           <div class="row">
               <div class="col-lg-12">
                   <h1>Create Booking</h1>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-12">
                   <form action="/admin/addbooking" method="post">
                       <div class="form-group">
                           <label for="name">Patient Name</label>
                           <input type="text" name="name" class="form-control" id="name">
                       </div>
                       <div class="form-group">
                           <label for="email">Email</label>
                           <input type="email" name="email" class="form-control" id="email">
                       </div>
                       <div class="form-group">
                           <label for="phone">Phone</label>
                           <input type="text" name="phone" class="form-control" id="phone">
                       </div>
                       <div class="form-group">
                          <label for="gender">Gender</label>
                          <select name="gender" class="form-control" id="gender">
                              <option value="male">male</option>
                              <option value="female">female</option>
                          </select>
                       </div>
                       <div class="form-group">
                           <label for="age">Age</label>
                           <input type="number" min="1" value="1" name="age" class="form-control" id="age">
                       </div>
                       <div class="form-group">
                        <label for="userid">Doctorid</label>
                        <select class="form-control" name="doctorid" id="doctorid">
                          <% for(var x=0;x< doctor.length; x++){ %>
                            <option value="<%= doctor[x]._id %>""><%= doctor[x].name %>-<%= doctor[x].phone %></option>
                          <% } %>
                        </select>
                     </div>
                     <div class="form-group">
                      <label for="userid">Serviceid</label>
                      <select class="form-control" name="serviceid" id="serviceid">
                        <% for(var x=0;x< service.length; x++){ %>
                          <option value="<%= service[x]._id %>""><%= service[x].name %></option>
                        <% } %>
                      </select>
                   </div>
                       <div class="form-group">
                           <label for="date">Days</label>
                           <select class="form-control" name="date" id="date">
                               <option>Monday</option>
                               <option>Tuesday</option>
                               <option>Wednesday</option>
                               <option>Thursday</option>
                               <option>Friday</option>
                               <option>Saturday</option>
                               <option>Sunday</option>
                           </select>
                       </div>
                       <div class="form-group">
                           <label for="time">Time</label>
                           <input type="time" name="time" class="form-control" id="time">
                       </div>
                       <div class="form-group">
                          <label for="userid">Userid</label>
                          <select class="form-control" name="userid" id="userid">
                            <% for(var x=0;x< user.length; x++){ %>
                              <option value="<%= user[x]._id %>""><%= user[x].name %>-<%= user[x].phone %></option>
                            <% } %>
                          </select>
                       </div>
                       <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" name="status" id="status">
                          <option>Pending</option>
                          <option>Approved</option>
                          <option>Reject</option>
                        </select>
                     </div>
                     <div class="form-group">
                      <label for="amount">Amount</label>
                      <input type="number" name="amount" class="form-control" id="amount">
                   </div>
                     <div class="form-group">
                      <label for="status">Mode</label>
                      <select class="form-control" name="mode" id="mode">
                        <option>Offline</option>
                        <option>Online</option>
                      </select>
                   </div>
                   <div class="form-group">
                    <label for="status">PaymentStatus</label>
                    <select class="form-control" name="paymentstatus" id="status">
                      <option>Pending</option>
                      <option>Approved</option>
                      <option>Reject</option>
                    </select>
                 </div>
                 <div class="form-group">
                  <input required type="hidden" value="-" name="report"/>
               </div>
               <button type="submit" class="btn btn-primary">Submit</button>
                   </form>
               </div>
           </div>
        </div>
    </div>
      </div>
      <div class="row fixed-top">
        <span class="mr-auto"></span>
        <div class="col-lg-3 ">
          <% if (msg) { %>
            <div class="alert alert-danger alert-dismissible fade show " role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <strong><%= msg %></strong>
            </div>
          <% } %>
        </div>
      </div>
      <script>
        $(document).ready(function() {
          // show the alert
          setTimeout(function() {
              $(".alert").alert('close');
          }, 2000);
      });
      </script>     
 <%- include('partial/footer') %>